@font-face {
  font-family: "Gill Sans MT W01 Medium";
  src: url(font/GillSansW01-Medium.ttf);
}

@font-face {
  font-family: "Recoleta W00 Medium";
  src: url(font/Recoleta-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.3em;
} */
body {
  background-color: #fbfacd;
}

.header {
  text-align: center;
  margin-top: 0.3em;
  font-size: clamp(2.25rem, -2.125rem + 14vw, 5.75rem);
  font-family: "Recoleta W00 Medium";
  font-weight: 400;
}



.container {
  width: 90%;
  margin: 0 auto;
}


.grid img {
  width: 100%;
  cursor: pointer;
  border: 10px solid #121212;
}


.suggestions {
  margin-bottom: 10px;
}

ul {
  margin-left: 1.3em;
}

.info:hover {
  display: block;
}

.info .title {
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-weight: 400;
  font-family: "Gill Sans MT W01 Medium";
  text-align: initial;
  line-height: 20px;
}

.info {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  opacity: 0;
  transition: 0.5s;
  background-color: #fbfacd;
  color: #121212;
  padding: 0.4em;
  padding-top: 0.2em;
  cursor: pointer;
}

.img-container:hover .info {
  opacity: 1;
  bottom: 10%;
}

span {
  font-weight: bold;
  font-family: "Recoleta W00 Medium";
}
